:root {
    --color-primary: #53b6e9;
    --color-white: #fff;
    --color-offwhite: #f5f5f5;
    --color-black: #000;
    --color-red: red;
    --color-neutral-10: #cecfd5;
    --color-neutral-20: #ededed;
    --color-neutral-30: #9d9fab;
    --color-neutral-40: #858797;
    --color-neutral-50: #6c6e82;
    --color-neutral-60: #54576d;
    --color-neutral-90: #0a0e2e;
    --color-green: #71bd43;
    --color-green-light: #c7da3e;
    --color-blue: #53b6e9;
    --color-blue-dark: #243b7c;
    --color-blue-light: #6dc3ef;
    --color-yellow: #e52a0d;
    --bg-gradient-green: linear-gradient(257.79deg,
            var(--color-green) 0%,
            var(--color-green-light) 100%);
}

body {
    background-color: #f5f5f5;
    padding: 0 !important;
}

.navbarO {
    display: flex;
    margin: auto;
}

.CentreAuto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbarO button {
    background: var(--bg-gradient-green);
    border-radius: 20px;
    color: white;
}

.taining h2 {
    font-size: 53px;
    font-weight: 700;
    line-height: 121%;
}

.taining p {
    padding: 30px;
    color: #54576d;
    font-size: 16px;
    line-height: 160%;
    text-align: left;
    /* width: 470px; */
}

.btnbox .demobtn {
    border-radius: 15px;
    padding: 15px;
}

.btnbox a {
    text-decoration: none;
    color: #0a0e2e;
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
}

.btnbox i {
    color: #0a0e2e;
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
}

.bg_image {
    width: 483px;
    height: 755px;
    margin-left: 45px;
    background-color: #0d2aaf;
    border-radius: 1000px 1000px 48px 48px;
    position: absolute;
    z-index: -1;
}

.image {
    position: relative;
    top: -68px;
    left: -45px;
}

.image img {
    position: absolute;
    width: 100%;
    height: auto;
}

.medalparent {
    height: 70px;
    width: 70px;
    position: absolute;
    border-radius: 50px;
    right: -12px;
    top: 127px;
    background-color: white;
}

.medalparent img {
    height: 40px;
    width: 40px;
}

.platformImg img {
    position: relative;
}

.starmain {
    left: 62px;
    bottom: -27px;
    padding: 28px 32px;
    background: white;
    border-radius: 20px;
    position: absolute;
    border-radius: 20px;
}

.starmain i {
    color: rgb(253, 188, 2);
    /* background-color: rgb(253, 188, 2); */
}

.weDo {
    position: relative;
    max-width: 1170px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 32px;
}

.downloadIcon {
    font-size: 70px;
    color: green;
    position: absolute;
    left: 45%;
    top: -55px;
}

.wedoText {
    position: relative;
    flex-direction: column;
    gap: 30px;
    letter-spacing: 0.2px;
}

.wedoText h2 {
    text-align: center;
    padding: 79px;
    margin: 20px 0;
    font-weight: 700;
    line-height: 1.2;
    font-size: 48px;
}

.wedoText h6 {
    font-size: 18px;
    line-height: 1.4;
    text-align: center;
    color: #6c6e82;
}




/* our product section started  */

.section {
  display: flex;
}
.text h2{
color: white;
font-size: 71px;
font-weight: 700;
}

.text p{
color: white;
font-size: 16px;
}
.item {
  width: 100% !important;
  /* padding: 10px; */
  border-radius: 19px;
  background-color: rgb(255, 255, 255);
  margin: 10px;
}

.box {
  width: 58%;
}

.box_1 {
  background-color: #243b7c;
  height: 785px;
}

.box .text {
  width: 70%;
  padding: 50px;
}
.cardMain{
width: 12rem;
background-color: white;
}
.box_2 {
  position: absolute;
  right: 0px;
  padding: 0px 30px;
}
.box2Image{
    height: 300px;
    background-color: gray;
    border-radius:25px ;
}
.box2Image img{
    border-radius:25px ;
    height: 100%;
    width: 100%;
}
.cardParaText
{
font-size: 12px;
}
.cardMainText
{

padding: 5px 10px;
background-color: aquamarine;
}
@media (max-width:426px) {
  .section {
    display: flex;
    flex-direction: column;
  }

  .box {
    width: 100%;
  }
  .box .text {
  width: 100%;  
}
.text h2{
    font-size: 50px;
}
  .box_2 {
    width: 90%;
    padding: 20px;
    position: absolute;
    right: 0px;
    top: 527px;

  }

}


/* code pan  */







  
  /*  */




/* our product section started  */





/* Our Features section started  */

.FeatureMainSec {
    /* margin-top: 40px; */
    /* position: relative; */
    /* height: 1600px; */
}

.featurechild {
    background-color: #002672;
    /* position: absolute; */
    width: 58%;
    height: 1730px;
}

.fetureText {
    color: white;
    margin-top: 50px;
    padding: 80px;

}

.featureImgMain {
    position: absolute;
    left: 45%;
    padding: 98px 0;
}

.featurechild h3 {
    color: white;
    font-size: 64px;
    font-weight: 700 !important;
    line-height: 110%;
    font-weight: 400;
}

.featurechild p {
    color: white;
    line-height: 160%;
    margin-top: 35px;
    font-size: 20px;
    line-height: 160%;
}

.ImagesCardParent {
    background-color: white;
    margin: 10px;
    width: 45%;
    height: 445px;
    margin-top: 10%;
    padding: 20px;
    border-radius: 25px;
}

.ImagesCard {
    width: 100%;
    height: 300px;
}

.slideImage {
    position: relative;
    width: 250px;
    height: 300px;
}

#imageSlide {
    width: 100%;
    /* position: absolute; */
    content: "";
    background-image: url("https://www.oneononelms.com/wp-content/uploads/2022/07/Rectangle-22-1657307124.png   ");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    height: 244px;
}

#imageSlide1 {
    width: 100%;
    content: "";
    background-image: url("https://www.oneononelms.com/wp-content/uploads/2022/07/Rectangle-23-1657307124.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    height: 244px;
}

#imageSlide2 {
    width: 100%;
    content: "";
    background-image: url("https://www.oneononelms.com/wp-content/uploads/2022/07/Rectangle-24-1657307125.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    height: 244px;
}

#imageSlide3 {
    width: 100%;
    content: "";
    background-image: url("https://www.oneononelms.com/wp-content/uploads/2022/07/Rectangle-22-1-1657307126.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    height: 244px;
}

#imageSlide4 {
    width: 100%;
    content: "";
    background-image: url("https://www.oneononelms.com/wp-content/uploads/2022/10/Online-training-certification-min-1666973275.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    height: 244px;
}

#imageSlide5 {
    width: 100%;
    content: "";
    background-image: url("https://www.oneononelms.com/wp-content/uploads/2022/10/Four-people-smiling-min-1666973541.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    height: 244px;
}

/* Our Features section started  */

/* Our Training Offerings section started  */

.traingMain {
    position: relative;
    padding: 77px 0 80px;
    overflow: hidden;
}

.kinghead {
    height: 70px;
    width: 70px;
    position: absolute;
    border-radius: 50px;
    right: 218px;
    top: 180px;
    background-color: white;
}

.trainingImg img {
    position: relative;
    top: 157px;
    left: -51px;
}

.kinghead img {
    width: 40px;
    height: 40px;
    margin-top: 12px;
    margin-left: 0px;
}

.kingdown img {
    position: relative;
    bottom: -158px;
    right: -20px;
}

.queenBackG {
    width: 483px;
    height: 715px;
    margin-left: 45px;
    background-color: #243b7c;
    border-radius: 1000px 1000px 48px 48px;
    position: absolute;
    z-index: -1;
}

.queenImg {
    position: relative;
    top: -160px;
    left: 105px;
}

.traingtext h3 {
    font-size: 64px;
    font-weight: 700;
    color: #243b7c;
}

.traingsubheading h4 {
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.2px;
}

/* Our Training Offerings section Ended  */

/* We also offer... section started  */

.offerMain {
    position: relative;
    padding: 77px 0 80px;
    overflow: hidden;
}

/* We also offer... section ended  */

/* Trusted by... section started  */

@import url("https://fonts.googleapis.com/css?family=Muli:400,700&display=swap");

.container {
    width: 100%;
    position: relative;
}

.trusted {
    padding: 157px 0 162px;
    background-color: #243b7c;
    overflow: hidden;
}

.trusredText {
    text-align: center;
}

.trusredText h1 {
    color: white;
    font-size: 71px;
    font-weight: 700;
    line-height: 160%;
}

.trusredText p {
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 160%;
}

.items {
    display: flex;
    align-items: center;
    width: fit-content;
    animation: carouselAnim 20s infinite linear;
}

.entry {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 400px;
    background: #fff;
    margin: 1em;
    padding: 0.5em;
    border-radius: 10px;
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.5);
}

.entry img {
    width: 270px;
    height: 135px;
    background: #fff;
    border-radius: 12px;
}

.entry p {
    text-align: center;
    padding: 1em;
}

.name {
    font-weight: bold;
}

@keyframes carouselAnim {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(calc(-100% + (5 * 300px)));
    }
}

.container .faders {
    /* width: 100%; */
    position: absolute;
    height: 100%;
}

.faders .right,
.faders .left {
    background: linear-gradient(to right,
            rgba(245, 245, 245, 1) 0%,
            rgba(255, 255, 255, 0) 100%);
    height: 100%;
    position: absolute;
    z-index: 200;
}

.right {
    right: 0;
    background: linear-gradient(to left,
            rgba(245, 245, 245, 1) 0%,
            rgba(255, 255, 255, 0) 100%);
}

/* Trusted by... section Ended  */

/* Spend less on training section started  */

/* .spendMainparent{
    height: 1000px;
} */

.SpendParentsMain {
    height: 700px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SpendImage {
    position: relative;
    width: 382px;
    height: 529px;
    background-color: #243b7c;
    border-radius: 1000px 1000px 48px 48px;
}

.SpendImage::after {
    position: absolute;
    content: "";
    width: 400px;
    height: 400px;
    border-radius: 50%;
    z-index: -1;
    top: -80px;
    left: -150px;
    background-color: #f5f5f5;
}

.SpendImage::before {
    position: absolute;
    content: "";
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    z-index: -2;
    top: -480px;
    left: -550px;
    background-color: #60a552;
}

.spendMainThme {
    margin-top: 25%;
}

.SpendLogo {
    height: 88px;
    width: 88px;
    position: absolute;
    border-radius: 50px;
    left: -35px;
    top: 75px;
    background-color: white;
}

.SpendLogo img {
    height: 40px;
    width: 40px;
}

.SpendStart {
    left: 122px;
    bottom: -60px;
    padding: 28px 32px;
    background: white;
    border-radius: 20px;
    position: absolute;
    border-radius: 20px;
    width: 295px;
}

.SpendStart i {
    color: rgb(253, 188, 2);
    font-size: 25px;
    margin: 5px;
}
.Training{
    padding: 50px;
}
.Training h3{
    font-size: 42px;
    font-weight: 700;
}
.Training p{
    font-size: 20px;
    color: #6c6e82;
}

/* Spend less on training section Ended  */

/* Our Impact section started  */

/* Our Impact section Ended  */

/* Codepan code start  */

.ourText h2 {
    font-size: 53px;
    font-weight: 700;
   
}

.circle h2 {
    font-size: 48px;
}

.circleCardChild {
    padding: 20px;
}

.CircleCard p {
    font-size: 16px;
    padding: 20px;
}

.circle {
    position: relative;
    width: 275px;
    height: 275px;
    line-height: 200px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 auto 40px;
    padding: 20px;
}

.blue::after {
    position: absolute;
    content: "";
    height: 325px;
    width: 325px;
    border-radius: 50%;
    opacity: 0.3;
    z-index: -1;
    background-color: #243b7c;
}

.green::after {
    position: absolute;
    content: "";
    width: 325px;
    height: 325px;
    border-radius: 50%;
    opacity: 0.3;
    z-index: -1;
    background-color: #71bd43;
}

.blue {
    background-color: #243b7c;
    margin-bottom: 30px !important;
}

.circleBlue {
    position: absolute;
    background-color: white;
    height: 88px;
    width: 88px;
    z-index: 1;
    top: -50px;
    left: 60%;
    border-radius: 50% 50% 50% 5%;
}

.circleBlue img {
    position: absolute;
    height: 40px;
    width: 40px;
}

.green {
    background-color: #76bd4c;
}

.circleGreen {
    position: absolute;
    background-color: white;
    height: 88px;
    width: 88px;
    z-index: 1;
    top: -40px;
    left: 70%;
    border-radius: 50% 50% 50% 5%;
}

.circleGreen img {
    position: absolute;
    height: 40px;
    width: 40px;
}

.circleThird {
    position: absolute;
    background-color: white;
    height: 88px;
    width: 88px;
    z-index: 1;
    top: -50px;
    left: 60%;
    border-radius: 50% 50% 50% 5%;
}

.circleThird img {
    position: absolute;
    height: 40px;
    width: 40px;
}

.circleForth {
    position: absolute;
    background-color: white;
    height: 88px;
    width: 88px;
    z-index: 1;
    top: -35px;
    left: 70%;

    border-radius: 50% 50% 50% 5%;
}

.circleForth img {
    position: absolute;
    height: 40px;
    width: 40px;
}

/* Codepan code start */

/* Form section started */

.FormMain {
    position: relative;
    padding: 77px 0 80px;
    overflow: hidden;
}

.FormgirlImage {
    position: relative;
    top: -160px;
    left: 105px;
}

.FormChild {
    position: relative;
    height: 600px;
}

.FormChild img {
    border-radius: 32px;
    position: absolute;
    height: 100%;
    width: 80%;
}

.cardTextt {
    display: flex;
    align-items: end;
    position: absolute;
    height: 600px;
    width: 100%;
    margin-bottom: 20%;
    margin-left: 50px;
}

.cardTextt img {
    width: 72px;
    height: 72px;
    background: #fff;
    border-radius: 50%;
    margin-bottom: 15%;
    padding: 10px;
}
/*  */
.formchildtext h2 {
    color: white;
}

.formchildtext p {
    color: white;
}

.Formfiled label {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 160%;
    margin-bottom: 8px;
}

.Formfiled input {
    width: 100%;
    line-height: 22px;
    padding: 20px 21px;
    background: #fff;
    border: 1px solid #cecfd5;
    border-radius: 10px;
}

.Formfiled select {
    min-height: 32px;
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text;
    padding-bottom: 5px;
    padding-right: 5px;
}

.Formfiled p label {
    margin-top: 10px;
    margin-bottom: 8px;
}

.Formfiled textarea {
    height: 166px;
    resize: none;
    border-radius: 10px;
    border: 1px solid #cecfd5;
    background: #fff;
    padding: 20px 21px;
    line-height: 22px;
    width: 100%;
}

.Formfiled h3 {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 160%;
    margin-bottom: 8px;
}

.Formfiled .captachamain {
    height: 74px;
    width: 206px;
    background-color: #6dc3ef;
}

.captachamain .innerboxcapchta {
    height: 28px;
    top: -4px;
    width: 36px;
    background-color: #1621e9;
    margin-top: 20px;
}

/* Form section Ended */

@import url(https://fonts.googleapis.com/css?family=Roboto);
/* $rgb-204: rgb(204, 204, 204); */

.input-container {
    background-color: rgb(249, 249, 249);
    border: 1px solid #d3d3d3;
    height: 74px;
    width: 300px;
    font-family: Roboto, sans-serif;
    display: inline-block;
    padding: 15px;
}

.input-container input {
    margin-left: 11px;
    background-color: white;
    padding: 20px;
}

.captcha h3 {
    font-size: 16px;
}

.captcha img {
    width: 32px;
    display: inline;
    margin-left: -60px;
}

.recaptcha {
    font-size: 10px;
    margin-left: -48px;
    position: relative;
    bottom: -20px;
}
.termsText a{
    color: black;
    position: absolute;
    top: 82px;
    left: 243px;
    font-size: 10px;
}
a:hover {
    text-decoration: underline;
}

.triangle {
    width: 0px;
    height: 0px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: relative;
    left: 10px;
    top: -55px;
}

.captcha-code {
    padding: 15p x 0;
    border: none;
    font-size: 18px;
    width: 90%;
    margin-left: 50%;
    transform: translateX(-50%);
}

/* Slider of 50% width started */


/* footer section stated */

.footerText {
    background-color: #fff;
    display: flex;
    border-radius: 32px;
    margin-bottom: 75px;
    padding: 30px 20px 20px;
    column-gap: 94px;
    align-items: center;
}

.footerForm {
    position: relative;
    position: relative;
    left: 250px;
    top: -53px;
}

.footerForm input {
    width: 90%;
    height: 85px;
    outline: none;
    border: none;
    border-radius: 45px;
    padding: 0 32px;
    background-color: #9d9fab;
}

.footerForm button {
    position: absolute;
    right: 110px;
    top: 25px;
    border-radius: 20px;
    font-size: 20px;
    line-height: 1.6;
    background-color: var(--color-green-light);
}

.footerList li a {
    font-size: 18px;
}

.footerList .navbar-nav {
    display: flex;
    justify-content: space-evenly;
}

.footetDownText {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* padding: 30px; */
}

.footetDownText h4 {
    font-size: 14px;
}

.footetDownText img {
    width: 242px;
}

/* footer section ended */

/* card carosol section started  */






    .section {
      display: flex;
    }
.text h2{
  color: white;
  font-size: 71px;
    font-weight: 700;
}

.text p{
  color: white;
  font-size: 16px;
}
    .item {
      width: 100% !important;
      border-radius: 25px;
      background-color: rgb(255, 255, 255);
      margin: 10px;
    }

    .Box_Top_Parent {
      width: 50%;
    }

    .Box_Top_Parent_main_1 {
      background-color: #243b7c;
      height: 550px;
    }

.spendParent{
  width: 100%;
}

.spendChild h5{
  font-size: 42px;
    font-weight: 700;
    color: black;
}
.spendChild p{
  font-size: 20px;
    font-weight: 300;
    color: #6c6e82;
}

    .Box_Top_Parent .text {
      width: 70%;
      padding: 50px;
    }

    .Box_Top_Parent_main_2 {
      position: absolute;
      right: 0;
      padding: 50px;

    }
    
 


    @media (max-width:426px) {
      .section {
        display: flex;
        flex-direction: column;
      }

      .Box_Top_Parent {
        width: 100%;
      }

      .Box_Top_Parent_main_2 {
        width: 90%;
        padding: 20px;
        position: absolute;
        right: 0px;
        top: 527px;

      }

    }
  





/* card carosol section started  */

.owl-carousel .owl-nav button.owl-prevpadding {
    padding: 20px !important;
}

.owl-theme .owl-nav {
    margin-top: 10px;
    position: relative;
    right: 80%;
    bottom: 40%;
}

.owl-carousel .owl-nav button.owl-next {
    /* position: absolute; */
    font-weight: 700;
    font-size: 60px;
    color: white;
    /* left: 170%;
    top: -362px; */
}

.owl-carousel .owl-nav button.owl-prev {
    /* position: absolute; */
    font-weight: 700;
    font-size: 60px;
    color: white;
    /* left: 165%;
    top: -362px; */
}


.card-bodyForText h3 {
    font-size: 16px;
}

.caroHeading {
    font-size: 42px;
    font-weight: 700;
    color: #0a0e2e;
}

.caroParagraph {
    font-size: 20px;
    color: #6c6e82;
}

.testMonial {
    position: relative;
    width: 339px;
    height: 86px;
    padding: 24px 42px;
    border-radius: 100px 0 0 100px;
    background-color: #243b7c;
}

.testMonial h4 {
    color: white;
    font-size: 24px;
    font-weight: 700;
}

.textBlue {
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: #13ddda;
    right: 95px;
    top: -13px;
    border-radius: 50%;
}

.textGreen {
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: #60a552;
    right: 60px;
    top: -13px;
    border-radius: 50%;
}

.textOrange {
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: orange;
    right: 25px;
    top: -13px;
    border-radius: 50%;
}
.image_parent{
    padding: 20px;
    text-align: center;
}

/* Media Query started stated here  */

@media only screen and (max-width: 768px) {
    .items {
        animation: carouselAnim 35s infinite alternate linear;
    }

    @keyframes carouselAnim {
        from {
            transform: translate(0, 0);
        }

        to {
            transform: translate(calc(-100% + (2 * 300px)));
        }
    }
}

@media (max-width: 425px) {



    .btnbox {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btnbox button {
        margin-bottom: 20px;
    }

    .bg_image {
        width: 100%;
        height: 565px;
        margin-left: 0px;
    }

    .medalparent {
        right: -80px;

    }
    .platformImg img{
        width: 100%;
    }

    /* .platformImg img {
        left: 86px;
        top: 192px;
    } */

    .starmain {
        bottom: -195px;
        padding: 8px 9px;
    }

    .starmain h4{
        font-size: 20px;
        padding: 4px;
    }

    .taining h2 {
        font-size: 34px;
    }

    .traingtext h3 {
        font-size: 46px;
        text-align: center;
    }

    .downloadIcon { 
       left: 40%;
    }
    .alsoOfferParent {
        text-align: center;
        padding: 20px;
    }

    .alsoOfferParent h4 {
        font-size: 18px;
        font-weight: 700;
    }

    .alsoOfferParent p {
        font-size: 14px;
        font-weight: 400;
    }

    .FeatureMainSec {
        position: relative;
        /* height: 1600px; */
    }

    .featurechild {
        background-color: #002672;
        position: absolute;
        width: 58%;
    }
    .queenBackG{
        height: 666px;
    }
    .kinghead{
        right: 1px;
        top: 158px;
    }

    .kingdown img{
        bottom: -110px;

    }

    .wedoText{
        padding: 20px;
    }

    .wedoText h2 {
        padding: 30px;
        margin: 20px 0;
        font-size: 36px;
    }

    .textBox {
        background-color: #002672;
        position: absolute;
        width: 58%;
        height: 800px;
    }
    .trusted{
        padding: 25px 0 60px;
    }
    .trusredText h1{
        font-size: 50px;
        font-weight: 400;
    }
    .entry{
        width: 210px;
    }

    .entry img{
        width: 205px;
        height: 80px;
    }
  

    .footerForm button {
        top: 90px;
    }

    .textBox {
        width: 100%;
        padding: 10px;
        display: inline-block;
        height: auto;
    }

 


    .logoIconFooter a{
        justify-content: space-evenly;
    }

    .footerForm {
        position: relative;
        left: -4px;
        top: -12px;
    }
    .d-flex{
        justify-content: space-evenly;
    }
    /*  */
    .SpendImage::before {
        height: auto;
        width: 100%;
    }

    .SpendImage{
        width: 100%;
        height: 429px;
    }
    .SpendStart{
        left: 0px;
        padding: 10px 20px;
    }

    .Training {
        padding: 20px;
    }

    .Training h3 {
        font-size: 30px;
    }
    .Training p {
        font-size: 16px;
    }

}

/* Media Query started stated ended  */









.owl-item {
    margin: 10px 30px;
    width: 320px !important;
}

@media (max-width: 426px) {

    .newBox1,
    .newBox2 {
        width: 100%;
        padding: 20px;
    }

    .text_box {
        width: 100%;
    }

    .newBox1 {
        height: 400px;
    }

    .newBox2 {
        top: 250px;
    }

    .owl-item {
        /* margin: 10px 30px; */
        width: 350px !important;
    }

    .fetureText {
        color: white;
        margin-top: 50px;
        padding: 20px;
    }
    .feaureparent{
        height: 3400px;
    }

    .featureImgMain{
        left: 0%;
       top: 300px;
    }

    .ImagesCardParent {
        width: 90%;
    }

    .featurechild{
        width: 100%;
        height: 3410px;
    }

    .queenImg {
        left: 0px;
}
    
    .queenBackG{
        margin-left: 0px;
        width: 100%;
    }
.fontText{
    color: red;

}
    .ourText h2 {
        text-align: center;
        font-size: 56px;
        font-weight: 700;
    }
    
    
}


.owl-item{
    width: 650px !important;
        margin-right: -5px !important;

}

/* navbar css */